body {
    background-color: #0d2a40;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#navigation-bar {
    background-color: #155077;
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 0 50px 0;
}

#navigation-bar div {
    height: 100%;
}

#navigation-bar a {
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto 50px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
}

#navigation-bar a:hover {
    color: #ccc;
}

#navigation-bar a:active {
    color: #888;
}

#logo {
    margin-left: auto;
    margin-right: 50px;
    cursor: pointer;
}

#back {
    margin-left: 30px;
    margin-right: auto;
    cursor: pointer;
}

#game-page {
    display: flex;
    width: fit-content;
    margin: auto auto 50px auto;
    background-color: #104061;
    padding: 0 20px;
    border-radius: 12px;
}

#game-board {
    display: grid;
}

.cell {
    position: relative;
    width: 75px;
    height: 75px;
    background-color: #155077;
    border-radius: 10px;
}

.cell.selected::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 123, 255, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    cursor: pointer;
}

.horizontal-wall, .vertical-wall, .corner {
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 4px;
}

.horizontal-wall {
    width: 75px;
    height: 15px;
    display: flex;
}

.vertical-wall {
    width: 15px;
    height: 75px;
    display: flex;
    flex-direction: column;
}

.horizontal-wall.hovered, .vertical-wall.hovered, .corner.hovered {
    cursor: pointer;
    background-color: rgba(159, 166, 165, 0.5);
}

.corner {
    width: 15px;
    height: 15px;
}

.horizontal-wall.placed, .vertical-wall.placed, .corner.placed {
    background-color: #9fa6a5;
}

.half-horizontal-wall {
    flex: 1;
    height: 100%;
}

.half-vertical-wall {
    flex: 1;
    width: 100%;
}

svg {
    display: block;
    stroke: none;
}

polygon {
    fill: transparent;
}

.player {
    transition: background-color 0.5s ease;
    border-radius: 10px;
    cursor: pointer;
}

.player.selected {
    background-color: rgba(0, 123, 255, 0.3);
    cursor: default;
}

.game-player {
    display: flex;
    height: 50px;
    margin: 5px;
}

.game-player img {
    width: auto;
}

#game-player-1-username, #game-player-2-username, #game-player-1-number-walls, #game-player-2-number-walls {
    margin: auto;
    font-size: 25px;
    font-family: "Poppins", "sans-serif";
}

#game-player-1-username, #game-player-2-username {
    margin-left: 20px;
}

#game-player-1-username, #game-player-1-number-walls {
    color: #097fed;
}

#game-player-2-username, #game-player-2-number-walls {
    color: #9fa6a5;
}

#game-player-1-number-walls, #game-player-2-number-walls {
    margin-right: 20px;
}

#winner-page {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    animation: none;
    opacity: 0;
    pointer-events: none;
}

#winner-main {
    display: block;
    background-color: #104061;
    border: 5px solid #888888;
    border-radius: 10px;
    pointer-events: all;
}

#winner-game-over {
    font-size: 50px;
    font-family: "Poppins", "sans-serif";
    text-align: center;
    color: white;
    margin: 40px 40px 10px 40px;
}

#winner {
    display: flex;
    height: 100px;
}

#winner-username {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 35px;
    font-family: "Poppins", "sans-serif";
    text-align: center;
    margin: 0 10px 10px 10px;
}

.winner-username-1 {
    color: #097fed;
}

.winner-username-2 {
    color: #9fa6a5;
}

@keyframes displayWinner {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}