body {
    background-color: #0d2a40;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#navigation-bar {
    background-color: #155077;
    display: flex;
    width: 100%;
    height: 100px;
}

#navigation-bar div {
    height: 100%;
}

#navigation-bar a {
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto 50px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
}

#navigation-bar a:hover {
    color: #ccc;
}

#navigation-bar a:active {
    color: #888;
}

#logo {
    margin-left: auto;
    margin-right: 50px;
    cursor: pointer;
}

#back {
    margin-left: 30px;
    margin-right: auto;
    cursor: pointer;
}

#menu-header {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #aaa;
    padding-top: 10px;
}

#menu-join, #menu-create {
    flex: 1;
    cursor: pointer;
}

#join-page.disable, #create-page.disable {
    display: none;
}

#menu-join.selected, #menu-create.selected {
    background-color: #888;
    border-radius: 30px 30px 0 0;
}

#menu-join {
    margin-left: 20%;
}

#menu-create {
    margin-right: 20%;
}

#join-page {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 100px auto 50px auto;
    justify-content: center;
}

.game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 398px;
}

.game-board {
    display: grid;
    margin: 20px;
    background-color: #104061;
    padding: 20px;
    border-radius: 12px;
}

.cell {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #155077;
    border-radius: 4px;
}

.horizontal-wall, .vertical-wall, .corner {
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 2px;
}

.horizontal-wall {
    width: 30px;
    height: 6px;
    display: flex;
}

.vertical-wall {
    width: 6px;
    height: 30px;
    display: flex;
    flex-direction: column;
}

.corner {
    width: 6px;
    height: 6px;
}

.horizontal-wall.placed, .vertical-wall.placed, .corner.placed {
    background-color: #9fa6a5;
}

.player {
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.game-information {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    background-color: rgba(13, 42, 64, 0.8);
    border-radius: 12px;
    height: 318px;
    width: 318px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.game-information:hover {
    opacity: 1;
}

.game-information.permanant {
    opacity: 1;
}

.game-player-1, .game-player-2 {
    display: flex;
    height: 70px;
    margin: 5px;
}

.game-player-1 img, .game-player-2 img {
    width: auto;
}

.game-player-1-username, .game-player-2-username {
    margin: auto;
    font-size: 25px;
    font-family: "Poppins", "sans-serif";
    margin-left: 20px;
}

.game-player-1-username {
    color: #097fed;
}

.game-player-2-username {
    color: #9fa6a5;
}

.game-status {
    height: 90px;
    margin: 5px;
    width: 100%;
    color: #097fed;
    font-size: 40px;
    font-family: "Poppins", "sans-serif";
    text-align: center;
}

.game-buttons {
    display: flex;
    flex-grow: 1;
}

.game-join-button, .game-spectate-button {
    flex: 1;
    height: auto;
    font-size: 30px;
    font-family: "Poppins", "sans-serif";
    border: none;
    color: #ccc;
    border-radius: 5px;
}

.game-join-button {
    background-color: rgb(0, 82, 0);
    cursor: pointer;
}

.game-spectate-button {
    background-color: #155077;
    cursor: pointer;
}

#create-page {
    width: fit-content;
    margin: 200px auto 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 100px);
}

.input {
    display: flex;
    justify-content: right;
    padding-right: 20px;
    width: 80%;
    height: 100%;
    font-size: 25px;
    font-family: "Poppins", "sans-serif";
    color: #ccc;
    border-right: 2px solid #ccc;
}

#board-size-input, #number-walls-input {
    -webkit-appearance: none;
    height: 10px;
    background-color: #155077;
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
}

#board-size-input::-webkit-slider-runnable-track, #number-walls-input::-webkit-slider-runnable-track, #board-size-input::-moz-range-track #number-walls-input::-moz-range-track {
    height: 10px;
    background: #155077;
    border-radius: 4px;
}

#board-size-input::-webkit-slider-thumb, #number-walls-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
    border: none;
}

#board-size-input::-moz-range-thumb, #number-walls-input::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.output {
    font-size: 35px;
    font-family: "Poppins", "sans-serif";
    color: #ccc;
    margin-left: 30px;
}

#select-team {
    grid-column: span 2;
    display: flex;
}

.team-button {
    width: auto;
    border-radius: 15px;
    margin: 0 5px;
    cursor: pointer;
}

.team-button img {
    margin: auto;
    display: block;
}

.team-button:hover {
    background-color: #104061;
}

.team-button:active {
    background-color: #155077;
}

.team-button.clicked {
    background-color: #104061;
    border: solid 3px #ccc;
}

#create-game-button {
    grid-column: span 3;
    width: 50%;
    margin-top: 100px;
    height: 50px;
    place-self: center;
    font-size: 25px;
    font-family: "Poppins", "sans-serif";
    color: #ccc;
    background-color: #103654;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#create-game-button:hover {
    background-color: #104061;
}

#create-game-button:active {
    background-color: #155077;
}