body {
    background-color: #0d2a40;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
}

#home-main {
    margin: auto 100px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-username {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

#home-username:focus {
    outline: none;
}

#invalid-username {
    opacity: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.8);
}

#home-play {
    width: 40%;
    height: 50px;
    background-color: #104061;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: "background-color" 0.5s ease;
    cursor: pointer;
}

#home-play:hover {
    background-color: #155077;
}

#home-play:active {
    background-color: #176396;
}